body{
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}
.topnav{
    background-color: #F59E0B;
    font-size: 30px;
    border-radius: 1rem;
    color:white;
    padding:0.25rem;
}
.topnav div{
    text-align: left;
}
.list{
    list-style: none;
    text-align: right;
}
.list li{ 
    display: inline;
    padding: 1rem;    
}
.list li a{
text-decoration: none;
color: white;
}


h1{
    color:#F59E0B;
}
.quiz-container{
    padding: 1rem;
    font-size: 30px;
}
#submit{
    padding: 0.5rem;
    font-size: 25px;
    border: #F59E0B;
    background-color: #F59E0B;
    color: white;
    border-radius: 1rem;
}
#output{
    padding: 2rem;
    font-size: 30px;
    font-weight: 600;
    color: #F59E0B;
}
